<!-- home.html -->
{% extends "base.html" %}

{% block title %}Vocabulaire - Japonais{% endblock %}

{% block content %}
    {% if words %}
    <figure>
        <table>
            <TR>
                <TH>Français</TH>
                <TH>日本語</TH>
                <TH>Hiragana</TH>
                <TH>Romanji</TH>
            </TR>
            {% for word in words %}
            <TR>
                <TD>{{ word.french }}</TD>
                <TD>{{ word.japanese }}</TD>
                <TD>{{ word.hiragana }}</TD>
                <TD>{{ word.romanji }}</TD>
            </TR>
            {% endfor %}
        </table>
    </figure>
    {% else %}
    <nav>
        <ul>
            {% for category in categories %}
            <li><a href="/vocabulary/{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
